*~
Makefile.am
!bass-genom3/codels/Makefile.am
Makefile.in
bas[sc]-genom3/aclocal.m4
bas[sc]-genom3/autoconf/
bas[sc]-genom3/autom4te.cache/
bas[sc]-genom3/*.pc.in
bas[sc]-genom3/bootstrap.sh
bas[sc]-genom3/build/
bas[sc]-genom3/configure
bas[sc]-genom3/configure.ac
*.mexa64
*.mat
