*~
bass-genom3/Makefile.am
Makefile.in
bass-genom3/aclocal.m4
bass-genom3/autoconf/
bass-genom3/autom4te.cache/
bass-genom3/*.pc.in
bass-genom3/bootstrap.sh
bass-genom3/build/
bass-genom3/configure
bass-genom3/configure.ac
*.mexa64
*.mat
